@media (min-width: 768px) {
    .App-body {
      flex-direction: row;
      flex: 1;
    }
}

.nav{
    order: -1; 
}
.App-body{
    display: flex;
  flex-direction: column;
}

.App-content{
    flex: 1;
}